@model IEnumerable<Almocar2.Models.Categoria>

@{
    ViewData["Title"] = "Index";
}

<h1>Categoria</h1>

<p>
    <a asp-action="Create" class="link-danger">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoriaId "class="link-danger">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.CategoriaId"class="link-danger">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoriaId"class="link-danger">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
